---
import About from "@/components/About/About.astro";
import Nav from "@/components/Nav/Nav.astro";
import MaxWidthWrapper from "@/layouts/MaxWidthWrapper.astro";
import "@/styles/globals.css";
import Hero from "../components/Hero/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Nav />
  <main class="h-full w-full flex flex-col items-center">
    <Hero />
    <MaxWidthWrapper>
      <About />
    </MaxWidthWrapper>
  </main>
</Layout>
