---
import About from "@/components/About/About.astro";
import Hero from "@/components/Hero/Hero.astro";
import Nav from "@/components/Nav/Nav.astro";
import Tech from "@/components/Tech/Tech.astro";
import Layout from "@/layouts/Layout.astro";
import MaxWidthWrapper from "@/layouts/MaxWidthWrapper.astro";
import "@/styles/globals.css";
---

<Layout>
  <Nav />
  <main class="h-full w-full flex flex-col items-center">
    <Hero />
    <MaxWidthWrapper>
      <About />
      <Tech />
    </MaxWidthWrapper>
  </main>
</Layout>
