---
import DrawerLinks from "./drawer-links";
import HomeBtn from "./home-btn";
import NavLinks from "./nav-links";
---

<nav
  class="fixed top-0 backdrop-blur-sm bg-background/80 z-[9999] w-full px-4 py-3 md:px-6 md:py-4 lg:px-6 lg:py-4 flex items-center justify-between"
>
  <HomeBtn client:load />
  <NavLinks client:media="(min-width: 768px)" />
  <DrawerLinks client:media="(max-width: 768px)" />
</nav>
./drawer-links
